
services:
  backend:
    build: ./backend
    container_name: backend
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - "5001:5001"

  frontend:
    build:
      context: ./frontend
      args:
        VITE_BACKEND_URL: http://43.205.206.93:5001/api
    container_name: frontend
    restart: always
    env_file:
      - ./frontend/.env
    ports:
      - "5173:5173"
    depends_on:
      - backend
      
